# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
win10_vagrant/.vagrant/*
ubu16_vagrant/.vagrant/*

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
